
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lexend:wght@100..900&display=swap');
:root{
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

